.main {
  width: 100%;

  color: #fff;

  background-color: #374962;
}

.numberOfPx {
  width: clamp(min(40px), 5vw, max(96px));
  height: clamp(min(40px), 5vw, max(96px));

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 4vw 0vw 0vw 14vw;

  color: #fff;
  font-size: clamp(min(18px), 2vw, max(40px));
  text-align: center;

  background-color: #58677b;
  border: none;
  border-radius: 20%;
}
.numberOfPx:focus {
  outline: 2px solid #fff;
}

.pairOfResult {
  width: clamp(min(240px), 34vw, max(640px));

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 4vw; */

  margin: 4vw 0vw 0vw 20vw;
}

button {
  width: clamp(min(68px), 10vw, max(192px));
  height: clamp(min(68px), 10vw, max(192px));

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  font-size: clamp(min(18px), 2vw, max(40px));
  font-weight: 600;
  text-align: center;

  background-color: #58677b;
  border: none;
  border-radius: 20%;
}

p {
  font-size: clamp(min(18px), 2vw, max(40px));
  font-weight: 600;
}
